body{
    margin:0px;
    padding:0px;
}
body{
    background-color: rgb(180,207,187);
}
/* #maindiv{
    text-align: center;
} */
.add-task{
    height: 35px !important;
}
.buttons{
    width:30px;
    margin:2px ;
    border-radius: 5%;
    border:0px;

}
.divii{
    text-align: center;
}
.span{
    word-break: break-word;
}